.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: var(--main-layout-width, 1150px);
    min-height: 1000px;
    display: flex;
    margin-top: var(--main-layout-header-height, 60px);
}

.content {
    flex: 1;
}
