.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    flex: 1;
}

.username {
    font-size: 1.6rem;
    font-weight: 600;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.4rem;
    text-transform: capitalize;
}
